<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin" translate="sidebar.nav.areas.AREAS">Areas</h4>

    <div ncy-breadcrumb class="pull-right"></div>
</div>

<!-- start: DYNAMIC TABLE -->
<div class="container-fluid container-fullw" ng-controller="AreaCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <!-- /// controller:  'ngTableCtrl' -  localtion: assets/js/controllers/ngTableCtrl.js /// -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-white">
                                <div class="panel-body">
                                    <div >
                                        <button type="button" class="btn btn-wide btn-o btn-info" ng-click="createArea()">
                                            <i class="fa fa-plus"></i>
                                            Create new</button>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>Name </th>
                                                <th>AreaCode </th>
                                                <th>&nbsp; </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="area in Areas">
                                                <td>{{area.name}} </td>
                                                <td>{{area.areaCode}} </td>
                                                <td>
                                                    <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Edit"  ng-click="editRow($event,area.id)"><i class="fa fa-pencil"></i></a>
                                                    <a href="#" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" uib-tooltip="Remove"  ng-click="removeRow($event,area.id)"><i class="fa fa-times fa fa-white"></i></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                            <legend>Area Form</legend>
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form-horizontal padding-bottom-20" role="form" name="Form"   novalidate ng-submit="form.submit(Form)">
                                        <div class="form-group" ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid, 'has-success':Form.name.$valid}">
                                            <label class="control-label">Area  Name <span class="symbol required"></span> </label>
                                            <input type="text" placeholder="Enter Area Name" class="form-control" name="name" ng-model="areaModel.name" required />
                                            <span class="error text-small block" ng-if="Form.name.$dirty && Form.name.$invalid">Area Name is required</span>
                                            <input type="hidden" name="id" ng-model="areaModel.id"/>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error':Form.areaCode.$dirty && Form.areaCode.$invalid, 'has-success':Form.areaCode.$valid}">
                                            <label class="control-label">Area  Code <span class="symbol required"></span> </label>
                                            <input type="text" placeholder="Enter Area Code" class="form-control" name="areaCode" ng-model="areaModel.areaCode" required />
                                            <span class="error text-small block" ng-if="Form.areaCode.$dirty && Form.areaCode.$invalid">Area Code is required</span>
                                        </div>
                                        <div class="form-group">                                            
                                            <button type="submit" class="btn btn-wide btn-o btn-success">Submit</button>
                                            <button type="reset" class="btn btn-wide  btn-o btn-danger">Reset</button>                                            
                                        </div>
                                    </form>
                                </div>
                            </div>                           
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: DYNAMIC TABLE -->
