<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
    <span translate="sidebar.heading.NAVIGATION">Main Navigation</span>
</div>
<ul class="main-navigation-menu">
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-home"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.dashboard.MAIN"> Dashboard </span>
                </div>
            </div>
        </a>
    </li>
</ul>

<!-- end: FEATURES -->
<div class="navbar-title">
    <span >New Features</span>
</div>
<ul class="folders">
    <li>
        <a ui-sref="app.pages.calendar">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-gift"></i>
                </div>
                <div class="item-inner">
                    <span class="title" > Calendar </span>
                </div>
            </div>
        </a>
    </li>
    
     <li>
        <a ui-sref="app.Students">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-gift"></i>
                </div>
                <div class="item-inner">
                    <span class="title" > Students </span>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a ui-sref="app.Instructors">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-gift"></i>
                </div>
                <div class="item-inner">
                    <span class="title" > Instructors </span>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a ui-sref="app.Areas">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-gift"></i>
                </div>
                <div class="item-inner">
                    <span class="title" > Areas </span>
                </div>
            </div>
        </a>
    </li>
</ul>